<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>book</title>
    <link rel="stylesheet" href="../styles/main.css">
</head>

<body>
    <main class="main">
        <div class="html-form">
            <h1 class="html-form__introduction">
                Давайте начнём!
            </h1>
            <div class="input__first-name block-element">
                <label for= "first_name" class="description">
                    Имя
                </label>
                <input tabindex="1" class="fixed-form" id="first_name" type="text" placeholder="Введите своё имя">
            </div>

            <div class="input__second-name block-element">
                <label for= "second-name" class="description">
                    Фамилия
                </label>
                <input tabindex="2" class="fixed-form" id="second-name" type="text" placeholder="Введите свою фамилию">
            </div>

            <div class="radio__gender block-element">
                <label class="description">
                    Ваш пол
                </label>
                <label class = "radio__gender-type">
                    <input tabindex="3"  type="radio" name="gender">
                    Женский
                </label>
                <label class = "radio__gender-type">
                    <input tabindex="4" type="radio" name="gender">
                    Мужской
                </label>
            </div>

            <div class="input__email block-element">
                <label for= "email-t" class="description">
                    Введите электронный адрес
                </label>
                <input tabindex="5" class="fixed-form" id="email-t" type="email" placeholder="email@gmail.com">
            </div>

            <div class="input__password block-element">
                <label for= "password-t" class="description" >
                    Придумайте пароль
                </label>
                <input tabindex="6" class="fixed-form" id="password-t" type="password" placeholder="Введите свой пароль">
            </div>


            <div class="input__checkbox block-element">
                <label class="input__checkbox-description">
                    <input tabindex="7" type="checkbox">
                    Я принимаю условия <a tabindex="8" class="input__checkbox_link" href="#">Пользовательского соглашения</a>
                    и даю своё согласие на обработку моих персональных данных
                    на условиях, определенных <a tabindex="9" class="input__checkbox_link" href="#">Политикой конфиденциальности</a>.
                </label>
            </div>

            <a tabindex="10" href="#" class="html-form__button block-element html-form__button-text">
                Зарегистрироваться
            </a>

            <div class="html-form__footer">
                <!--empty space-->
            </div>
        </div>
    </main>
</body>
