<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Simple Layout</title>
    <link rel="stylesheet" href="../styles/main.css">
</head>
<body>
<div class="header">
    <!-- is now empty only for padding-->
</div>
<div class="main">
    <div class="main__left">
        <img width="425px" src="../images/photo.png" >
    </div>
    <div class="main__right">
        <div class= "personal-discription">
            <h3 class="personal-discription__title">
                About me
            </h3>
            <p class= "personal-discription__text">
                I’m John Watson Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
        </div>
    </div>
</div>

</body>
</html>