<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>book</title>
    <link rel="stylesheet" href="../styles/main.css">
</head>
<body>
<div class="main">
    <div class="object-book">
        <div class="book-picture__background"></div>
        <div class="top-book-block">
            <h3 class="book__theme">
                adventures
            </h3>
            <h2 class="book__title">
                awesome gallery post
            </h2>
            <p class="book__data">
                january 19, 2016
            </p>
            <div class="book-bottom">
                <a class="book-bottom__link" href="0">
                    read more
                </a>
            </div>
        </div>
        <div class="bottom-book-block">
            <a class="comment-site" href="0">
                <div class="book-comment-block">
                    <div class="comment__icon">
                        <p class="comments__count">
                            02 comment
                        </p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

</body>
</html>