@import url('https://fonts.googleapis.com/css?family=PT+Sans');


.html-form {
    width: 430px;
    box-shadow: 0 0 25px rgba(0,0,0,0.3);
}

.html-form__introduction {
    margin: 0;
    padding: 67px 0 20px 0;
    text-align: center;
    color: #262e73;
    font-size: 33px;
    font-family: "PT Sans";
}

.description {
    padding-bottom: 6px;
    color: #262e73;
    font-size: 14px;
    font-family: "PT Sans";
    display: block;
}

.input__checkbox-description {
    color: #565d69;
    font-size: 12px;
    font-family: "PT Sans";
    display: block;
}

.input__checkbox_link {
    text-decoration: none;
    color: #262e73;
}

.radio__gender-type {
    font-family: "PT Sans";
    font-size: 17px;
    color: #282828;
}

.block-element {
    width: 355px;
    margin: 10px auto;
    display: block;
}

.fixed-form {
    width: 350px;
    height: 35px;
    font-family: "PT Sans";
    color: #c1c9d5;
    font-size: 17px;
}

.html-form__button {
    padding: 8px 0;
    text-align: center;
    vertical-align: center;
    background-color: #0bc691;
    box-sizing: border-box;
    border-radius: 3px;
}

.html-form__button-text {
    text-decoration: none;
    font-size: 17px;
    font-family: "PT Sans";
    color: #ffffff;
}

.html-form__footer {
    height: 120px;
}

