@import url('https://fonts.googleapis.com/css?family=Hind|Montserrat');

body {
    margin: 0;
}

.main {
    padding-top: 30px;
    width: 1250px;
    margin: 0 auto;
}

.top-book-block {
    text-align: center;
}

.book__theme, .book__title, .book__data, .comments__count, .book-bottom__link {
    margin: 0;
    text-transform: uppercase;
}

.book-picture__background {
    background-image: url(../images/picture.png);
    background-position:center;
    background-repeat: no-repeat;
    padding-bottom: 245px
}

.book__theme {
    padding-top: 60px;
    font-family: Hind;
    color: #b7b7b7;
    font-weight: normal;
    letter-spacing: 0.1em;
    padding-bottom: 10px;
}

.book__title {
    padding-bottom: 10px;
    font-family: Montserrat;
    font-weight: bolder;
}

.book__data {
    padding-bottom: 30px;
    font-family: Hind;
    font-size: 14px;
    color: #b7b7b7;
    letter-spacing: 0.1em;
}

.book-comment-block {
    border: 0 solid #f7f7f7;
    border-top-width: 1px;
    padding-left: 20px;
}

.book-comment-block:hover {
    background-color: #d67900;
}

.comments__count {
    padding-left: 30px;
    display: inline-block;
    color: #acacac;
    font-family: Hind;
    padding-bottom: 20px;
    padding-top: 20px;
}

.comment-site {
    text-decoration: none;
}

.book-bottom {
    display: inline-block;
    color: #d6d6d6;
    padding-bottom: 30px;
}

.book-bottom:before {
    content: " ";
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 36px;
    border-bottom: 1px solid;
    width: 30px;
    display: flex;
}

.book-bottom:after {
    content: " ";
    display: flex;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 36px;
    border-bottom: 1px solid;
    width: 30px;
}

.book-bottom:hover:before , .book-bottom:hover:after, .book-bottom:hover {
    color: #d67900;
}

.book-bottom__link {
    font-family: Hind;
    letter-spacing: 0.2em;
    text-decoration: none;
    color: inherit;
}

.comment__icon {
    background-image: url(../images/Icon.png);
    background-position:left center;
    background-repeat: no-repeat;
}

.object-book {
    width: 360px;
    display: inline-block;
    box-shadow: 0 0 30px rgba(0,0,3,0.5);
}